*{
  margin: 0%;  
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: rgb(24, 23, 23);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

.image{
    width: 100%;
    height: 90%;
   
    margin-top: 0%;
}


#shiftRight{
    float: right;
    padding-top: 24px;
    padding-right: 10px;
}

#submit{
   background-color: green;
   width: 100px;
   border-radius: 15px;
}

#submit:hover{
     background-color: blanchedalmond;
}

.navbars {

    list-style: none;
    background-color: darkred;
    padding: 0;
    margin-top: 0%;
        
}

.navbars li{
    display: inline-block;
    padding: 25px 30px;
}

.navbars a{
    text-decoration: none;
    color: #fff;
    
}

/* ul li{
    list-style: none;
}  */



h2{
    position: absolute;
    color: antiquewhite;
     margin-left: 39rem;
}

.boxes-container{
  
    display: flex;
    margin-top: 0px;
    margin-left:0% ;
    position: relative;
    text-align: center;
  
}

.inside-box1{
    width: 300px;
    height: 290px;
    background: rgba(255, 255, 255, 0.226);
    text-align: center;
    margin: 200px;
    border-radius: 19px;
    padding-top: 10px;
    position: absolute;
   
}

.alignList{
    color: rgb(18, 20, 20);
    padding-top: 25px;
    padding-right: 60px;
   
  }

.inside-box2{
    width: 300px;
    height: 290px;
    background: rgba(255, 255, 255, 0.226);
    text-align: center;
    margin-top: 200px;
    margin-left: 600px;
    border-radius: 19px;
    padding-top: 10px;
    position: absolute;
}

.inside-box3{
    width: 300px;
    height: 290px;
    background: rgba(255, 255, 255, 0.226);
    text-align: center;
    margin-top: 200px;
    margin-left: 1000px;
    border-radius: 19px;
    padding-top: 10px;
    position: absolute;
}

/* 
table, th, td {
    border:1px solid  black;
    width: 1%;
  }

.t-down{
     margin-top: 0;
     margin-left: 20%;
}
 */
